# NPM/Yarn artifacts
node_modules
yarn-error.log

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

# Various temp files
*.DS_Store
*.swp
*.swo

# Jetbrains IDE
.idea

# Visual Code Studio
.vscode
