/* CSS for website */
html {
  font-size: 125%;
}

body,
.book .book-body .page-wrapper .page-inner section.normal {
  -webkit-font-smoothing: antialiased;
  font-family: "proxima-nova", Helvetica, Arial, Tahoma, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #6d6d6d;
}

/* Style the layout */
.book .book-body .page-wrapper .page-inner {
  padding: 0 1.5em;
}

.book .book-body .page-wrapper .page-inner section.normal a,
.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active > a {
  color: #c9322c;
}
h1, h1 a {
  line-height: 1.2;
  color: #2d2d2d;
  font-family: "chaparral-pro", Georgia, "Times New Roman", "DejaVu Serif", serif;
}
h1 {
  margin: 0 0 1em 0;
}
/* Style page titles */
h1,
.book .book-body .page-wrapper .page-inner section.normal h1,
.book .book-body .page-wrapper .page-inner section.normal>:first-child h1 {
  font-size: 1.75em;
  letter-spacing: -.03em;
  font-weight: 600;
  padding: .25em 0;
  margin: .5em 0;
  border-top: 3px solid #f0f0ef;
  border-bottom: 3px solid #f0f0ef;
}
@media screen and (min-width: 1100px) {
  h1,
  .book .book-body .page-wrapper .page-inner section.normal h1 {
    font-size: 2.25em;
  }
}
h2,
.book .book-body .page-wrapper .page-inner section.normal h2,
h3,
.book .book-body .page-wrapper .page-inner section.normal h3,
h4,
.book .book-body .page-wrapper .page-inner section.normal h4 {
  margin: 2em 0 .35em 0;
}

h2,
.book .book-body .page-wrapper .page-inner section.normal h2 {
 font-size: 1.35em;
 text-transform: uppercase;
}

h3,
.book .book-body .page-wrapper .page-inner section.normal h3 {
 font-size: 1em;
 color: #c9322c;
 margin: 1.75em 0 .35em 0;
}

h4,
.book .book-body .page-wrapper .page-inner section.normal h4 {
 font-size: 1em;
 font-family: "chaparral-pro", Georgia, "Times New Roman", "DejaVu Serif", serif;
 font-weight: 600;
 margin: 1em 0 .35em 0;
}
/* Style the sidebar navigation */
.book-summary a {
  color: #2d2d2d;
  font-size: 0.75em;
  text-transform: uppercase;
}
/* Style the header */
.book .book-header h1 {
  /* overrides gitbook style */
  border-top: none;
  border-bottom: none;
}

.book-header h1,
h1 a {
  font-size: 1.75em;
  letter-spacing: -.03em;
  color: #c9322c;
}
code {
  font-family: Monaco, 'Courier New', monospace;
}
h2 {
    border-bottom: 1px solid #ccc;
}
.book .book-body .page-wrapper .page-inner section.normal>:first-child {
  margin-bottom: 1em;
}

.book .book-body .page-wrapper .page-inner section.normal ol,
.book .book-body .page-wrapper .page-inner section.normal ul {
  padding: 0 0 0 40px;
  margin: 1em 0;
  font-family: "chaparral-pro", Georgia, "Times New Roman", "DejaVu Serif", serif;
}

p,
.book .book-body .page-wrapper .page-inner section.normal p {
  font-family: "chaparral-pro", Georgia, "Times New Roman", "DejaVu Serif", serif;
  margin-bottom: 1em;
}

.book .book-summary ul.summary li {
  font-size: .9em;
}

/* Table garbage */
.book .book-body .page-wrapper .page-inner section.normal table td,
.book .book-body .page-wrapper .page-inner section.normal table th {
  font-size: .8em;
}
